<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783050494306-nhclfbbu6hof6v0ojblmut9nlpockvup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783050494306-nhclfbbu6hof6v0ojblmut9nlpockvup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783050494306-91u1110lp7a688gt0eo4bmgejup1pq2u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCry3JiayqUtVncnkTBAAMdY2o9xBBmZYs</string>
	<key>GCM_SENDER_ID</key>
	<string>783050494306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visitbodrum.app</string>
	<key>PROJECT_ID</key>
	<string>visitbodrum-308712</string>
	<key>STORAGE_BUCKET</key>
	<string>visitbodrum-308712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783050494306:ios:488303e906d6607600dc3b</string>
</dict>
</plist>